{% extends "layout/base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/music.css')}}" />
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/controllers/music.js') }}"></script>
{% endblock %}
{% block header %}
<nav>

</nav>
{% endblock %}
{% block body %}
<main ng-controller="MusicCtrl">
    <aside>
        <div class="blur">
        </div>
        <ul class="nav">
            <li><i class="fa fa-headphones" aria-hidden="true"></i> My Playlist</li>
            <li><i class="fa fa-headphones" aria-hidden="true"></i> Others Playlist</li>
            <li><i class="fa fa-headphones" aria-hidden="true"></i> Top 100</li>
            <li><i class="fa fa-headphones" aria-hidden="true"></i> Artist</li>
        </ul>
    </aside>
    <article>
        <div class="blur">
        </div>
        <div class="wrapper">
            <section>
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    추가할 노래를 검색해 주세요. <span class="addition">(가수 이름 + 노래 제목의 형식을 추천)</span>
                </div>
                <div class="search input-group">
                    <label for="jaeeo_query"><i class="fa fa-search"></i></label>
                    <input id="jaeeo_query" type="search" ng-music-search callback="search(query)" class="form-control query" ng-model="query"/>
                    <div class="input-group-addon" ng-click="search(query)">검색</div>
                </div>
                <div class="video-wrapper clear">
                    <div class="play-controller clearfix">
                        <div class="play-control">
                            <button type="button" class="btn btn-default btn-xs" ng-click="changeVideoByController(-1)">
                                <i class="fa fa-backward"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="toggleVideo()">
                                <i class="fa" ng-class="{'fa-pause' : videos[video_index].playing, 'fa-play' : !videos[video_index].playing}"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="changeVideoByController(1)">
                                <i class="fa fa-forward"></i>
                            </button>
                            {$ videos[video_index].title $}
                        </div>
                        <div class="list-control">
                            <button type="button" class="btn btn-default btn-xs" ng-click="shuffleVideos(video_index)">
                                <i class="fa fa-random"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" ng-click="openWithYoutube(videos[video_index].videoId)">
                                <i class="fa fa-youtube-play"></i> youtube에서 보기
                            </button>
                        </div>
                    </div>
                    <div ng-show="videos.length != 0">
                        <div id="curr_video"></div>
                    </div>
                    <div class="videos">
                        <table class="table table-striped">
                            <tbody>
                            <tr ng-repeat="video in videos track by $index" ng-class="{'playing' : video.playing}">
                                <td class="video" ng-click="changeVideo(video, true)" ng-if="!video.edit">{$ video.title $}</td>
                                <td class="video-options" ng-if="!video.edit">
                                    <i class="fa fa-edit" ng-click="video.edit = true" tooltip-placement="top" tooltip="수정"></i>
                                    <i class="fa fa-times" ng-click="removeVideo($index)" tooltip-placement="top" tooltip="삭제"></i>
                                </td>
                                <td class="video" ng-if="video.edit">
                                    <input type="search" search callback="modifyVideo(video, query)" class="form-control query" ng-model="video.query"/>
                                </td>
                                <td class="video-options" ng-if="video.edit">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="modifyVideo(video, video.query)">수정</button>
                                    <button type="button" class="btn btn-default btn-xs" ng-click="video.edit = false">취소</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="others alert alert-success clear" ng-if="videos[video_index].other_videos.length != 0">
                    <div class="others-header">
                        같이 검색된 노래
                    </div>
                    <div class="other" ng-repeat="other in videos[video_index].other_videos" ng-click="addOtherVideo(videos[video_index].other_videos, $index)">
                        {$ other.title $}
                    </div>
                </div>
            </section>
        </div>
    </article>
</main>

{% endblock %}