html{
  margin: 0;
  padding: 0;
  font-family: Nanum Gothic;
}
body, p, h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

footer{
  font-family: 'Nanum Pen Script', serif;
  position: relative;
  background-color: #2f2f2f;
  height: 200px;
  color : #fff;
  padding: 70px;
  text-align: center;
}

footer .profile_img{
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}

footer h5{
  font-size : 24px;
}

footer h6{
  font-size : 20px;
}

footer .profile_link{
  font-size : 30px;
}
footer .profile_link a{
  color: #fff;
}