<!DOCTYPE html>
<head>
    <title>RealIron</title>
    <!-- meta info -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="RealIron Jaeeo Music" />
    <meta name="description" content="RealIron - Jaeeo's Personal Page">
    <meta name="author" content="Jaeeo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>-->
    <!-- Google fonts -->
    <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>

    {% assets "temp_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ie.css')}}" />-->
    <![endif]-->
    <!-- Custom styles -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/base.css')}}">-->
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>
    <div class="global-wrap">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}

        <!-- Lib scripts -->
        {% assets "temp_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

        <!-- Custom scripts -->
        <!--<script src="{{ url_for('static', filename='js/base.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='js/filters.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='js/services.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='js/directives.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='js/controllers/main.js') }}"></script>-->
        {% block js %}{% endblock %}

        <!-- Google Login -->
        <!--<script src="https://apis.google.com/js/api:client.js"></script>-->

        <!-- Google Analytics -->
        <!-- -->
    </div>
</body>

</html>
